body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-103px;
  width:1457px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:493px;
}
#u1454 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:23px;
  width:978px;
  height:493px;
  display:flex;
}
#u1454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1455 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:339px;
  width:542px;
  height:121px;
  display:flex;
}
#u1455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u1456 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:194px;
  width:67px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u1456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u1457 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:345px;
  width:106px;
  height:18px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u1457 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u1458 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:339px;
  width:50px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u1458 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u1459 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:339px;
  width:50px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u1459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1460 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:250px;
  width:280px;
  height:150px;
  display:flex;
}
#u1460 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u1461 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:376px;
  width:106px;
  height:18px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u1461 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#606266;
  text-align:left;
}
#u1463 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:370px;
  width:240px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#606266;
  text-align:left;
}
#u1463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u1463_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(192, 196, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#606266;
  text-align:left;
}
#u1463.mouseOver {
}
#u1463_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#606266;
  text-align:left;
}
#u1463.selected {
}
#u1463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:9px;
}
#u1465 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:376px;
  width:16px;
  height:9px;
  display:flex;
  font-family:'Microsoft New Tai Lue Bold', 'Microsoft New Tai Lue', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u1465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:3px;
}
#u1466 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:380px;
  width:10px;
  height:3px;
  display:flex;
  font-family:'Microsoft New Tai Lue Bold', 'Microsoft New Tai Lue', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u1466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:435px;
}
#u1467 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:67px;
  width:479px;
  height:425px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-style:normal;
  color:#000000;
}
#u1467 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
