body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-44px;
  width:1056px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3050 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:37px;
  width:300px;
  height:60px;
  display:flex;
}
#u3050 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1288px;
}
#u3051 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:156px;
  width:375px;
  height:1288px;
  display:flex;
}
#u3051 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3052 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:246px;
  width:185px;
  height:135px;
  display:flex;
}
#u3052 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3053 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:822px;
  width:10px;
  height:9px;
  display:flex;
}
#u3053 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:1475px;
}
#u3054 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:148px;
  width:188px;
  height:1475px;
  display:flex;
}
#u3054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3055 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:196px;
  width:185px;
  height:90px;
  display:flex;
}
#u3055 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:48px;
}
#u3056 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:314px;
  width:188px;
  height:48px;
  display:flex;
}
#u3056 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
