body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-44px;
  width:1056px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2949 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:37px;
  width:300px;
  height:60px;
  display:flex;
}
#u2949 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1288px;
}
#u2950 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:156px;
  width:375px;
  height:1288px;
  display:flex;
}
#u2950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2951 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:246px;
  width:185px;
  height:135px;
  display:flex;
}
#u2951 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2952 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:822px;
  width:10px;
  height:9px;
  display:flex;
}
#u2952 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:1475px;
}
#u2953 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:148px;
  width:188px;
  height:1475px;
  display:flex;
}
#u2953 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2954 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:196px;
  width:185px;
  height:90px;
  display:flex;
}
#u2954 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:48px;
}
#u2955 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:314px;
  width:188px;
  height:48px;
  display:flex;
}
#u2955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
