body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-98px;
  width:1376px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:826px;
}
#u7986 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:148px;
  width:656px;
  height:826px;
  display:flex;
}
#u7986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7987 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:494px;
  width:86px;
  height:25px;
  display:flex;
}
#u7987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7988 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:672px;
  width:86px;
  height:25px;
  display:flex;
}
#u7988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:819px;
}
#u7989 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:152px;
  width:663px;
  height:819px;
  display:flex;
}
#u7989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7990 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:635px;
  width:86px;
  height:25px;
  display:flex;
}
#u7990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(224, 226, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u7991 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:420px;
  width:86px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u7991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7992 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:451px;
  width:86px;
  height:25px;
  display:flex;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7993 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:482px;
  width:86px;
  height:25px;
  display:flex;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7994 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:514px;
  width:86px;
  height:25px;
  display:flex;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7995 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:548px;
  width:86px;
  height:25px;
  display:flex;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7996 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:579px;
  width:86px;
  height:25px;
  display:flex;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7997 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:611px;
  width:86px;
  height:25px;
  display:flex;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7998 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:648px;
  width:75px;
  height:25px;
  display:flex;
}
#u7998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7999 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:685px;
  width:86px;
  height:25px;
  display:flex;
}
#u7999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8000 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:672px;
  width:291px;
  height:31px;
  display:flex;
}
#u8000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8001 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:682px;
  width:291px;
  height:31px;
  display:flex;
}
#u8001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8002 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:579px;
  width:181px;
  height:94px;
  display:flex;
}
#u8002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8003 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:494px;
  width:133px;
  height:25px;
  display:flex;
}
#u8003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:259px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8004 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:635px;
  width:318px;
  height:259px;
  display:flex;
}
#u8004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:259px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8005 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:420px;
  width:181px;
  height:259px;
  display:flex;
}
#u8005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
