body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-98px;
  width:1376px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:826px;
}
#u7885 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:148px;
  width:656px;
  height:826px;
  display:flex;
}
#u7885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7886 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:494px;
  width:86px;
  height:25px;
  display:flex;
}
#u7886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7887 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:672px;
  width:86px;
  height:25px;
  display:flex;
}
#u7887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:819px;
}
#u7888 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:152px;
  width:663px;
  height:819px;
  display:flex;
}
#u7888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7889 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:635px;
  width:86px;
  height:25px;
  display:flex;
}
#u7889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(224, 226, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u7890 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:420px;
  width:86px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u7890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7891 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:451px;
  width:86px;
  height:25px;
  display:flex;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7892 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:482px;
  width:86px;
  height:25px;
  display:flex;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7893 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:514px;
  width:86px;
  height:25px;
  display:flex;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7894 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:548px;
  width:86px;
  height:25px;
  display:flex;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7895 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:579px;
  width:86px;
  height:25px;
  display:flex;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7896 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:611px;
  width:86px;
  height:25px;
  display:flex;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7897 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:648px;
  width:75px;
  height:25px;
  display:flex;
}
#u7897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7898 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:685px;
  width:86px;
  height:25px;
  display:flex;
}
#u7898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7899 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:672px;
  width:291px;
  height:31px;
  display:flex;
}
#u7899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7900 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:682px;
  width:291px;
  height:31px;
  display:flex;
}
#u7900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7901 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:579px;
  width:181px;
  height:94px;
  display:flex;
}
#u7901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7902 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:494px;
  width:133px;
  height:25px;
  display:flex;
}
#u7902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:259px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7903 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:635px;
  width:318px;
  height:259px;
  display:flex;
}
#u7903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:259px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7904 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:420px;
  width:181px;
  height:259px;
  display:flex;
}
#u7904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
