body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-94px;
  width:2215px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:979px;
  height:499px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:43px;
  width:979px;
  height:499px;
  display:flex;
}
#u249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:2px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:90px;
  width:194px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.407792256565752deg);
  -moz-transform:rotate(-0.407792256565752deg);
  -ms-transform:rotate(-0.407792256565752deg);
  transform:rotate(-0.407792256565752deg);
}
#u250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:356px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u251 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:81px;
  width:240px;
  height:356px;
  display:flex;
}
#u251 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:977px;
  height:498px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:1332px;
  top:44px;
  width:977px;
  height:498px;
  display:flex;
}
#u252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
