body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-27px;
  width:1300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u15817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:601px;
}
#u15817 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:27px;
  width:1300px;
  height:601px;
  display:flex;
}
#u15817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#333333;
}
#u15818 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:92px;
  width:394px;
  height:140px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#333333;
}
#u15818 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u15818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:33px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u15819 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:587px;
  width:128px;
  height:33px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u15819 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15819_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:33px;
  background:inherit;
  background-color:rgba(102, 177, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u15819.mouseOver {
}
#u15819_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:33px;
  background:inherit;
  background-color:rgba(43, 133, 228, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u15819.mouseDown {
}
#u15819_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:33px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u15819.disabled {
  opacity:0.7;
}
#u15819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
