body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-17px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:825px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8376 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:91px;
  width:689px;
  height:825px;
  display:flex;
}
#u8376 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
}
#u8377 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:174px;
  width:800px;
  height:600px;
  display:flex;
}
#u8377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u8378 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:229px;
  width:221px;
  height:26px;
  display:flex;
}
#u8378 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
}
#u8379 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:1034px;
  width:51px;
  height:25px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
}
#u8379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8379_img.mouseDown {
}
#u8379.mouseDown {
  opacity:0.8;
}
#u8379_img.selected {
}
#u8379.selected {
}
#u8379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8380 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1034px;
  width:84px;
  height:19px;
  display:flex;
  text-align:right;
}
#u8380 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8380_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8381 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1108px;
  width:84px;
  height:19px;
  display:flex;
  text-align:right;
}
#u8381 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8381_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8382 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:1028px;
  width:97px;
  height:123px;
  display:flex;
}
#u8382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8383 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1037px;
  width:20px;
  height:20px;
  display:flex;
  color:#999999;
}
#u8383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8384 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1110px;
  width:20px;
  height:20px;
  display:flex;
  color:#999999;
}
#u8384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8385 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:1031px;
  width:10px;
  height:10px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u8385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
}
#u8386 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:1105px;
  width:51px;
  height:25px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
}
#u8386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8386_img.mouseDown {
}
#u8386.mouseDown {
  opacity:0.8;
}
#u8386_img.selected {
}
#u8386.selected {
}
#u8386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8387 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:1102px;
  width:10px;
  height:10px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u8387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:73px;
}
#u8388 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:1044px;
  width:1px;
  height:72px;
  display:flex;
}
#u8388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8389 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:1039px;
  width:10px;
  height:10px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u8389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8390 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:1113px;
  width:10px;
  height:10px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u8390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u8391 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:983px;
  width:335px;
  height:30px;
  display:flex;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u8391 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
