body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-17px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:825px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6989 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:91px;
  width:689px;
  height:825px;
  display:flex;
}
#u6989 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
}
#u6990 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:174px;
  width:800px;
  height:600px;
  display:flex;
}
#u6990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6991 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:229px;
  width:221px;
  height:26px;
  display:flex;
}
#u6991 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
}
#u6992 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:1034px;
  width:51px;
  height:25px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
}
#u6992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6992_img.mouseDown {
}
#u6992.mouseDown {
  opacity:0.8;
}
#u6992_img.selected {
}
#u6992.selected {
}
#u6992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u6993 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1034px;
  width:84px;
  height:19px;
  display:flex;
  text-align:right;
}
#u6993 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6993_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u6994 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1108px;
  width:84px;
  height:19px;
  display:flex;
  text-align:right;
}
#u6994 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6994_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6995 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:1028px;
  width:97px;
  height:123px;
  display:flex;
}
#u6995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6996 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1037px;
  width:20px;
  height:20px;
  display:flex;
  color:#999999;
}
#u6996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6997 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1110px;
  width:20px;
  height:20px;
  display:flex;
  color:#999999;
}
#u6997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u6998 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:1031px;
  width:10px;
  height:10px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u6998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
}
#u6999 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:1105px;
  width:51px;
  height:25px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
}
#u6999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6999_img.mouseDown {
}
#u6999.mouseDown {
  opacity:0.8;
}
#u6999_img.selected {
}
#u6999.selected {
}
#u6999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u7000 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:1102px;
  width:10px;
  height:10px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u7000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:73px;
}
#u7001 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:1044px;
  width:1px;
  height:72px;
  display:flex;
}
#u7001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u7002 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:1039px;
  width:10px;
  height:10px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u7002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u7003 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:1113px;
  width:10px;
  height:10px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u7003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u7004 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:983px;
  width:335px;
  height:30px;
  display:flex;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u7004 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
