body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-17px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:825px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8366 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:91px;
  width:689px;
  height:825px;
  display:flex;
}
#u8366 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
}
#u8367 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:174px;
  width:800px;
  height:600px;
  display:flex;
}
#u8367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u8368 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:229px;
  width:221px;
  height:26px;
  display:flex;
}
#u8368 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
}
#u8369 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:1034px;
  width:51px;
  height:25px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
}
#u8369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8369_img.mouseDown {
}
#u8369.mouseDown {
  opacity:0.8;
}
#u8369_img.selected {
}
#u8369.selected {
}
#u8369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8370 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1034px;
  width:84px;
  height:19px;
  display:flex;
  text-align:right;
}
#u8370 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8370_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8371 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1108px;
  width:84px;
  height:19px;
  display:flex;
  text-align:right;
}
#u8371 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8371_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8372 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:1028px;
  width:97px;
  height:123px;
  display:flex;
}
#u8372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8373 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1037px;
  width:20px;
  height:20px;
  display:flex;
  color:#999999;
}
#u8373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8374 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1110px;
  width:20px;
  height:20px;
  display:flex;
  color:#999999;
}
#u8374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8375 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:1031px;
  width:10px;
  height:10px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u8375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
}
#u8376 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:1105px;
  width:51px;
  height:25px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
}
#u8376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8376_img.mouseDown {
}
#u8376.mouseDown {
  opacity:0.8;
}
#u8376_img.selected {
}
#u8376.selected {
}
#u8376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8377 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:1102px;
  width:10px;
  height:10px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u8377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:73px;
}
#u8378 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:1044px;
  width:1px;
  height:72px;
  display:flex;
}
#u8378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8379 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:1039px;
  width:10px;
  height:10px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u8379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8380 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:1113px;
  width:10px;
  height:10px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u8380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u8381 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:983px;
  width:335px;
  height:30px;
  display:flex;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u8381 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
