body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-46px;
  width:1663px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:614px;
}
#u6103 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:99px;
  width:1400px;
  height:614px;
  display:flex;
}
#u6103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D900B6;
}
#u6104 {
  border-width:0px;
  position:absolute;
  left:1477px;
  top:176px;
  width:232px;
  height:54px;
  display:flex;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D900B6;
}
#u6104 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
