body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-83px;
  width:614px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:753px;
}
#u3820 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:92px;
  width:451px;
  height:753px;
  display:flex;
}
#u3820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3821 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:695px;
  width:150px;
  height:150px;
  display:flex;
}
#u3821 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
