body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-337px;
  width:1145px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:479px;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:34px;
  width:1000px;
  height:479px;
  display:flex;
}
#u1346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:202px;
  width:99px;
  height:11px;
  display:flex;
  font-size:10px;
}
#u1347 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:198px;
  width:72px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u1348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:198px;
  width:72px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u1349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:198px;
  width:72px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u1350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:198px;
  width:72px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u1351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:198px;
  width:72px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#FFFFFF;
}
#u1352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:944px;
  height:283px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:222px;
  width:944px;
  height:283px;
  display:flex;
}
#u1353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:325px;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:240px;
  width:1000px;
  height:325px;
  display:flex;
}
#u1354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:230px;
  width:341px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u1355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u1355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:707px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:138px;
  width:514px;
  height:707px;
  display:flex;
}
#u1356 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
