body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:494px;
}
#u2707 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:159px;
  width:1080px;
  height:494px;
  display:flex;
}
#u2707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
}
#u2708 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:285px;
  width:51px;
  height:18px;
  display:flex;
}
#u2708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:2px;
}
#u2709 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:415px;
  width:131px;
  height:1px;
  display:flex;
}
#u2709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u2710 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:426px;
  width:45px;
  height:12px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u2710 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2710_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u2712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:left;
}
.u2712 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  display:flex;
  font-size:9px;
  text-align:left;
}
.u2712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
.u2712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u2713 label {
  left:0px;
  width:100%;
}
.u2713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
.u2713 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:9px;
  width:100px;
  height:16px;
  display:flex;
}
.u2713 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
.u2713_img.selected {
}
.u2713.selected {
}
.u2713_img.disabled {
}
.u2713.disabled {
}
.u2713_img.selectedDisabled {
}
.u2713.selectedDisabled {
}
.u2713_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u2713_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2711-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
.u2713 label {
  left:0px;
  width:100%;
}
#u2711-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:109px;
  height:30px;
}
.u2713 label {
  left:0px;
  width:100%;
}
#u2711-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:109px;
  height:30px;
}
.u2713 label {
  left:0px;
  width:100%;
}
#u2711-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:109px;
  height:30px;
}
.u2713 label {
  left:0px;
  width:100%;
}
#u2711-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:109px;
  height:30px;
}
.u2713 label {
  left:0px;
  width:100%;
}
#u2711 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:446px;
  width:109px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2714 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:24px;
  width:785px;
  height:122px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2714 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2715 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:294px;
  width:87px;
  height:15px;
  display:flex;
}
#u2715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2716 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:296px;
  width:213px;
  height:11px;
  display:flex;
  font-size:10px;
}
#u2716 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:640px;
}
#u2717 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:753px;
  width:288px;
  height:640px;
  display:flex;
}
#u2717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:344px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2718 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:906px;
  width:280px;
  height:344px;
  display:flex;
}
#u2718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:353px;
}
#u2719 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:923px;
  width:299px;
  height:353px;
  display:flex;
}
#u2719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2720 label {
  left:0px;
  width:100%;
}
#u2720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2720 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:908px;
  width:214px;
  height:12px;
  display:flex;
  font-size:10px;
}
#u2720 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2720_img.selected {
}
#u2720.selected {
}
#u2720_img.disabled {
}
#u2720.disabled {
}
#u2720_img.selectedDisabled {
}
#u2720.selectedDisabled {
}
#u2720_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:198px;
  word-wrap:break-word;
  text-transform:none;
}
#u2720_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2721 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:929px;
  width:126px;
  height:21px;
  display:flex;
  text-align:left;
}
#u2721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:left;
}
#u2722 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:341px;
  width:86px;
  height:21px;
  display:flex;
  font-size:8px;
  text-align:left;
}
#u2722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#409EFF;
}
#u2723 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:674px;
  width:785px;
  height:70px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#409EFF;
}
#u2723 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
