body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:494px;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:159px;
  width:1080px;
  height:494px;
  display:flex;
}
#u288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:285px;
  width:51px;
  height:18px;
  display:flex;
}
#u289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:2px;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:415px;
  width:131px;
  height:1px;
  display:flex;
}
#u290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:426px;
  width:45px;
  height:12px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u291 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u291_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:left;
}
.u293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  display:flex;
  font-size:9px;
  text-align:left;
}
.u293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
.u293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u294 label {
  left:0px;
  width:100%;
}
.u294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
.u294 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:9px;
  width:100px;
  height:16px;
  display:flex;
}
.u294 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
.u294_img.selected {
}
.u294.selected {
}
.u294_img.disabled {
}
.u294.disabled {
}
.u294_img.selectedDisabled {
}
.u294.selectedDisabled {
}
.u294_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u294_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u292-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
.u294 label {
  left:0px;
  width:100%;
}
#u292-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:109px;
  height:30px;
}
.u294 label {
  left:0px;
  width:100%;
}
#u292-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:109px;
  height:30px;
}
.u294 label {
  left:0px;
  width:100%;
}
#u292-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:109px;
  height:30px;
}
.u294 label {
  left:0px;
  width:100%;
}
#u292-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:109px;
  height:30px;
}
.u294 label {
  left:0px;
  width:100%;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:446px;
  width:109px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:24px;
  width:785px;
  height:122px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u295 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:294px;
  width:87px;
  height:15px;
  display:flex;
}
#u296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:296px;
  width:213px;
  height:11px;
  display:flex;
  font-size:10px;
}
#u297 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:640px;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:753px;
  width:288px;
  height:640px;
  display:flex;
}
#u298 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:344px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:906px;
  width:280px;
  height:344px;
  display:flex;
}
#u299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:353px;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:923px;
  width:299px;
  height:353px;
  display:flex;
}
#u300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u301 label {
  left:0px;
  width:100%;
}
#u301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:908px;
  width:214px;
  height:12px;
  display:flex;
  font-size:10px;
}
#u301 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u301_img.selected {
}
#u301.selected {
}
#u301_img.disabled {
}
#u301.disabled {
}
#u301_img.selectedDisabled {
}
#u301.selectedDisabled {
}
#u301_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:198px;
  word-wrap:break-word;
  text-transform:none;
}
#u301_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:929px;
  width:126px;
  height:21px;
  display:flex;
  text-align:left;
}
#u302 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:left;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:341px;
  width:86px;
  height:21px;
  display:flex;
  font-size:8px;
  text-align:left;
}
#u303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#409EFF;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:674px;
  width:785px;
  height:70px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#409EFF;
}
#u304 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
