body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:494px;
}
#u2716 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:159px;
  width:1080px;
  height:494px;
  display:flex;
}
#u2716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
}
#u2717 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:285px;
  width:51px;
  height:18px;
  display:flex;
}
#u2717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:2px;
}
#u2718 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:415px;
  width:131px;
  height:1px;
  display:flex;
}
#u2718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u2719 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:426px;
  width:45px;
  height:12px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u2719 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2719_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u2721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:left;
}
.u2721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  display:flex;
  font-size:9px;
  text-align:left;
}
.u2721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
.u2721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u2722 label {
  left:0px;
  width:100%;
}
.u2722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
.u2722 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:9px;
  width:100px;
  height:16px;
  display:flex;
}
.u2722 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
.u2722_img.selected {
}
.u2722.selected {
}
.u2722_img.disabled {
}
.u2722.disabled {
}
.u2722_img.selectedDisabled {
}
.u2722.selectedDisabled {
}
.u2722_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u2722_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2720-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
.u2722 label {
  left:0px;
  width:100%;
}
#u2720-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:109px;
  height:30px;
}
.u2722 label {
  left:0px;
  width:100%;
}
#u2720-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:109px;
  height:30px;
}
.u2722 label {
  left:0px;
  width:100%;
}
#u2720-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:109px;
  height:30px;
}
.u2722 label {
  left:0px;
  width:100%;
}
#u2720-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:109px;
  height:30px;
}
.u2722 label {
  left:0px;
  width:100%;
}
#u2720 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:446px;
  width:109px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2723 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:24px;
  width:785px;
  height:122px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2723 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2724 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:294px;
  width:87px;
  height:15px;
  display:flex;
}
#u2724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2725 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:296px;
  width:213px;
  height:11px;
  display:flex;
  font-size:10px;
}
#u2725 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:640px;
}
#u2726 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:753px;
  width:288px;
  height:640px;
  display:flex;
}
#u2726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:344px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2727 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:906px;
  width:280px;
  height:344px;
  display:flex;
}
#u2727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:353px;
}
#u2728 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:923px;
  width:299px;
  height:353px;
  display:flex;
}
#u2728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2729 label {
  left:0px;
  width:100%;
}
#u2729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2729 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:908px;
  width:214px;
  height:12px;
  display:flex;
  font-size:10px;
}
#u2729 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2729_img.selected {
}
#u2729.selected {
}
#u2729_img.disabled {
}
#u2729.disabled {
}
#u2729_img.selectedDisabled {
}
#u2729.selectedDisabled {
}
#u2729_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:198px;
  word-wrap:break-word;
  text-transform:none;
}
#u2729_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2730 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:929px;
  width:126px;
  height:21px;
  display:flex;
  text-align:left;
}
#u2730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:left;
}
#u2731 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:341px;
  width:86px;
  height:21px;
  display:flex;
  font-size:8px;
  text-align:left;
}
#u2731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#409EFF;
}
#u2732 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:674px;
  width:785px;
  height:70px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#409EFF;
}
#u2732 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
