body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-337px;
  width:1145px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:479px;
}
#u2733 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:34px;
  width:1000px;
  height:479px;
  display:flex;
}
#u2733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2734 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:202px;
  width:99px;
  height:11px;
  display:flex;
  font-size:10px;
}
#u2734 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u2735 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:198px;
  width:72px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u2735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u2736 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:198px;
  width:72px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u2736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u2737 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:198px;
  width:72px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u2737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u2738 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:198px;
  width:72px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u2738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u2739 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:198px;
  width:72px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#FFFFFF;
}
#u2739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:944px;
  height:283px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2740 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:222px;
  width:944px;
  height:283px;
  display:flex;
}
#u2740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:325px;
}
#u2741 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:240px;
  width:1000px;
  height:325px;
  display:flex;
}
#u2741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u2742 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:230px;
  width:341px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u2742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u2742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:707px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2743 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:138px;
  width:514px;
  height:707px;
  display:flex;
}
#u2743 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
