body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-62px;
  width:1362px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1362px;
  height:654px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.149019607843137);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u7092 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:93px;
  width:1362px;
  height:654px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u7092 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u7092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1358px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7093 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:93px;
  width:1358px;
  height:40px;
  display:flex;
}
#u7093 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7094 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:104px;
  width:153px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7094 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u7095 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:103px;
  width:48px;
  height:20px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u7095 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7095_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1362px;
  height:614px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7096 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:133px;
  width:1362px;
  height:614px;
  display:flex;
}
#u7096 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7096_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
  text-align:left;
}
#u7097 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:172px;
  width:260px;
  height:24px;
  display:flex;
  color:#AAAAAA;
  text-align:left;
}
#u7097 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7098 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:175px;
  width:18px;
  height:18px;
  display:flex;
}
#u7098 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7098_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:2px;
}
#u7099 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:426px;
  width:497px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7099 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u7100 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:165px;
  width:148px;
  height:15px;
  display:flex;
  color:#0000FF;
}
#u7100 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7102 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:218px;
  width:77px;
  height:15px;
  display:flex;
}
#u7102 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u7104 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:216px;
  width:17px;
  height:17px;
  display:flex;
}
#u7104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u7105 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:227px;
  width:2px;
  height:2px;
  display:flex;
}
#u7105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u7106 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:227px;
  width:2px;
  height:2px;
  display:flex;
}
#u7106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u7107 {
  border-width:0px;
  position:absolute;
  left:1264px;
  top:214px;
  width:23px;
  height:21px;
  display:flex;
}
#u7107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0588235294117647);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7108 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:219px;
  width:8px;
  height:39px;
  display:flex;
}
#u7108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u7109 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:153px;
  width:148px;
  height:15px;
  display:flex;
  color:#0000FF;
}
#u7109 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7110 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:213px;
  width:249px;
  height:140px;
}
#u7110_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:20px;
  color:#000000;
}
#u7112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u7112 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u7112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7112_img.selected {
}
#u7112.selected {
}
#u7112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7113 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:135px;
  height:20px;
  display:flex;
}
#u7113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u7113_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7111_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7114 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:66px;
  height:20px;
}
#u7115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7115 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:44px;
  height:20px;
  display:flex;
}
#u7115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u7115_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7116 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:118px;
  height:20px;
}
#u7117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7117 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:96px;
  height:20px;
  display:flex;
}
#u7117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u7117_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7118 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:92px;
  height:20px;
}
#u7119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u7119 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u7119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7119_img.selected {
}
#u7119.selected {
}
#u7119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7120 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
  display:flex;
}
#u7120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u7120_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7118_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7121 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:144px;
  height:20px;
}
#u7122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7122 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:122px;
  height:20px;
  display:flex;
}
#u7122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u7122_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7123 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:105px;
  height:20px;
}
#u7124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u7124 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u7124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7124_img.selected {
}
#u7124.selected {
}
#u7124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7125 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
  display:flex;
}
#u7125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u7125_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7123_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7126 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:209px;
  height:20px;
}
#u7127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7127 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:187px;
  height:20px;
  display:flex;
}
#u7127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u7127_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 167, 240, 0.847058823529412);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7128 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:149px;
  width:66px;
  height:35px;
  display:flex;
}
#u7128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#02A7F0;
}
#u7129 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:193px;
  width:211px;
  height:15px;
  display:flex;
  color:#02A7F0;
}
#u7129 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
  text-align:left;
}
#u7130 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:173px;
  width:343px;
  height:24px;
  display:flex;
  color:#AAAAAA;
  text-align:left;
}
#u7130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7131 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:178px;
  width:18px;
  height:18px;
  display:flex;
}
#u7131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7132 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:254px;
  width:335px;
  height:409px;
}
#u7133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:37px;
}
#u7133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:37px;
  display:flex;
  font-size:28px;
}
#u7133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:37px;
}
#u7134 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:0px;
  width:157px;
  height:37px;
  display:flex;
}
#u7134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
}
#u7135 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:0px;
  width:115px;
  height:37px;
  display:flex;
}
#u7135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:38px;
}
#u7136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:37px;
  width:63px;
  height:38px;
  display:flex;
  font-size:28px;
}
#u7136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:38px;
}
#u7137 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:37px;
  width:157px;
  height:38px;
  display:flex;
}
#u7137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:38px;
}
#u7138 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:37px;
  width:115px;
  height:38px;
  display:flex;
}
#u7138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:38px;
}
#u7139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:63px;
  height:38px;
  display:flex;
  font-size:28px;
}
#u7139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:38px;
}
#u7140 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:75px;
  width:157px;
  height:38px;
  display:flex;
}
#u7140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:38px;
}
#u7141 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:75px;
  width:115px;
  height:38px;
  display:flex;
}
#u7141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:37px;
}
#u7142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:63px;
  height:37px;
  display:flex;
  font-size:28px;
}
#u7142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:37px;
}
#u7143 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:113px;
  width:157px;
  height:37px;
  display:flex;
}
#u7143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
}
#u7144 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:113px;
  width:115px;
  height:37px;
  display:flex;
}
#u7144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:37px;
}
#u7145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:63px;
  height:37px;
  display:flex;
  font-size:28px;
}
#u7145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:37px;
}
#u7146 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:150px;
  width:157px;
  height:37px;
  display:flex;
}
#u7146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
}
#u7147 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:150px;
  width:115px;
  height:37px;
  display:flex;
}
#u7147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:37px;
}
#u7148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:187px;
  width:63px;
  height:37px;
  display:flex;
  font-size:28px;
}
#u7148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:37px;
}
#u7149 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:187px;
  width:157px;
  height:37px;
  display:flex;
}
#u7149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
}
#u7150 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:187px;
  width:115px;
  height:37px;
  display:flex;
}
#u7150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:37px;
}
#u7151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:224px;
  width:63px;
  height:37px;
  display:flex;
  font-size:28px;
}
#u7151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:37px;
}
#u7152 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:224px;
  width:157px;
  height:37px;
  display:flex;
}
#u7152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
}
#u7153 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:224px;
  width:115px;
  height:37px;
  display:flex;
}
#u7153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:37px;
}
#u7154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:261px;
  width:63px;
  height:37px;
  display:flex;
  font-size:28px;
}
#u7154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:37px;
}
#u7155 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:261px;
  width:157px;
  height:37px;
  display:flex;
}
#u7155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
}
#u7156 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:261px;
  width:115px;
  height:37px;
  display:flex;
}
#u7156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:37px;
}
#u7157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:298px;
  width:63px;
  height:37px;
  display:flex;
  font-size:28px;
}
#u7157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:37px;
}
#u7158 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:298px;
  width:157px;
  height:37px;
  display:flex;
}
#u7158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
}
#u7159 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:298px;
  width:115px;
  height:37px;
  display:flex;
}
#u7159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:37px;
}
#u7160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:335px;
  width:63px;
  height:37px;
  display:flex;
  font-size:28px;
}
#u7160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:37px;
}
#u7161 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:335px;
  width:157px;
  height:37px;
  display:flex;
}
#u7161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
}
#u7162 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:335px;
  width:115px;
  height:37px;
  display:flex;
}
#u7162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:37px;
}
#u7163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:372px;
  width:63px;
  height:37px;
  display:flex;
  font-size:28px;
}
#u7163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:37px;
}
#u7164 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:372px;
  width:157px;
  height:37px;
  display:flex;
}
#u7164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
}
#u7165 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:372px;
  width:115px;
  height:37px;
  display:flex;
}
#u7165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#02A7F0;
}
#u7166 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:336px;
  width:211px;
  height:15px;
  display:flex;
  color:#02A7F0;
}
#u7166 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7168 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:255px;
  width:77px;
  height:15px;
  display:flex;
}
#u7168 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u7170 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:254px;
  width:17px;
  height:17px;
  display:flex;
}
#u7170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u7171 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:265px;
  width:2px;
  height:2px;
  display:flex;
}
#u7171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u7172 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:265px;
  width:2px;
  height:2px;
  display:flex;
}
#u7172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u7173 {
  border-width:0px;
  position:absolute;
  left:1264px;
  top:252px;
  width:23px;
  height:21px;
  display:flex;
}
#u7173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u7175 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:676px;
  width:8px;
  height:18px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u7175 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u7176 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:676px;
  width:8px;
  height:18px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u7176 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u7177 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:676px;
  width:8px;
  height:18px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u7177 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u7178 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:676px;
  width:8px;
  height:18px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u7178 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u7179 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:676px;
  width:24px;
  height:18px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u7179 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u7180 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:670px;
  width:47px;
  height:26px;
  display:flex;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u7180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u7180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u7181 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:674px;
  width:28px;
  height:18px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u7181 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7181_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u7182 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:674px;
  width:22px;
  height:22px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u7182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u7183 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:680px;
  width:10px;
  height:10px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.400000005960464;
}
#u7183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u7184 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:680px;
  width:10px;
  height:10px;
  display:flex;
  opacity:0.400000005960464;
}
#u7184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7185 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:679px;
  width:58px;
  height:17px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7185 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7186 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:374px;
  width:77px;
  height:15px;
  display:flex;
}
#u7186 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u7188 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:372px;
  width:17px;
  height:17px;
  display:flex;
}
#u7188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u7189 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:383px;
  width:2px;
  height:2px;
  display:flex;
}
#u7189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u7190 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:383px;
  width:2px;
  height:2px;
  display:flex;
}
#u7190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u7191 {
  border-width:0px;
  position:absolute;
  left:1264px;
  top:377px;
  width:23px;
  height:21px;
  display:flex;
}
#u7191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7192 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:417px;
  width:77px;
  height:15px;
  display:flex;
}
#u7192 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u7194 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:415px;
  width:17px;
  height:17px;
  display:flex;
}
#u7194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u7195 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:426px;
  width:2px;
  height:2px;
  display:flex;
}
#u7195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u7196 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:426px;
  width:2px;
  height:2px;
  display:flex;
}
#u7196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u7197 {
  border-width:0px;
  position:absolute;
  left:1264px;
  top:416px;
  width:23px;
  height:21px;
  display:flex;
}
#u7197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0588235294117647);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7198 {
  border-width:0px;
  position:absolute;
  left:1300px;
  top:205px;
  width:8px;
  height:39px;
  display:flex;
}
#u7198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7200 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:290px;
  width:77px;
  height:15px;
  display:flex;
}
#u7200 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u7202 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:289px;
  width:17px;
  height:17px;
  display:flex;
}
#u7202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u7203 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:300px;
  width:2px;
  height:2px;
  display:flex;
}
#u7203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u7204 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:300px;
  width:2px;
  height:2px;
  display:flex;
}
#u7204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u7205 {
  border-width:0px;
  position:absolute;
  left:1264px;
  top:287px;
  width:23px;
  height:21px;
  display:flex;
}
#u7205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7206 label {
  left:0px;
  width:100%;
}
#u7206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u7206 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:209px;
  width:121px;
  height:15px;
  display:flex;
}
#u7206 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u7206_img.selected {
}
#u7206.selected {
}
#u7206_img.disabled {
}
#u7206.disabled {
}
#u7206_img.selectedDisabled {
}
#u7206.selectedDisabled {
}
#u7206_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:105px;
  word-wrap:break-word;
  text-transform:none;
}
#u7206_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u7207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:2px;
}
#u7207 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:423px;
  width:497px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0588235294117647);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7208 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:266px;
  width:7px;
  height:39px;
  display:flex;
}
#u7208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
