body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:376px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4747 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:684px;
  width:10px;
  height:9px;
  display:flex;
}
#u4747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:1475px;
}
#u4748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:1475px;
  display:flex;
}
#u4748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:196px;
}
#u4749 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:158px;
  width:188px;
  height:196px;
  display:flex;
}
#u4749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4750 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:98px;
  width:150px;
  height:55px;
  display:flex;
}
#u4750 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
