body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-27px;
  width:367px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:199px;
}
#u1468 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:40px;
  width:367px;
  height:189px;
  display:flex;
}
#u1468 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
