body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-93px;
  width:1894px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1894px;
  height:811px;
}
#u9870 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:70px;
  width:1894px;
  height:811px;
  display:flex;
}
#u9870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9871_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:112px;
  height:9px;
}
#u9871 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:96px;
  width:107px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(0.744059202888707deg);
  -moz-transform:rotate(0.744059202888707deg);
  -ms-transform:rotate(0.744059202888707deg);
  transform:rotate(0.744059202888707deg);
}
#u9871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9872_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:112px;
  height:9px;
}
#u9872 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:381px;
  width:107px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(0.744059202888707deg);
  -moz-transform:rotate(0.744059202888707deg);
  -ms-transform:rotate(0.744059202888707deg);
  transform:rotate(0.744059202888707deg);
}
#u9872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9873_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:112px;
  height:9px;
}
#u9873 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:658px;
  width:107px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(0.744059202888707deg);
  -moz-transform:rotate(0.744059202888707deg);
  -ms-transform:rotate(0.744059202888707deg);
  transform:rotate(0.744059202888707deg);
}
#u9873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9874_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:112px;
  height:9px;
}
#u9874 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:492px;
  width:107px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(0.744059202888707deg);
  -moz-transform:rotate(0.744059202888707deg);
  -ms-transform:rotate(0.744059202888707deg);
  transform:rotate(0.744059202888707deg);
}
#u9874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9875_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:112px;
  height:9px;
}
#u9875 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:719px;
  width:107px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(0.744059202888707deg);
  -moz-transform:rotate(0.744059202888707deg);
  -ms-transform:rotate(0.744059202888707deg);
  transform:rotate(0.744059202888707deg);
}
#u9875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
