body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-93px;
  width:1894px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1894px;
  height:811px;
}
#u14920 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:70px;
  width:1894px;
  height:811px;
  display:flex;
}
#u14920 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14921_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:112px;
  height:9px;
}
#u14921 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:96px;
  width:107px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(0.744059202888707deg);
  -moz-transform:rotate(0.744059202888707deg);
  -ms-transform:rotate(0.744059202888707deg);
  transform:rotate(0.744059202888707deg);
}
#u14921 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14922_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:112px;
  height:9px;
}
#u14922 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:381px;
  width:107px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(0.744059202888707deg);
  -moz-transform:rotate(0.744059202888707deg);
  -ms-transform:rotate(0.744059202888707deg);
  transform:rotate(0.744059202888707deg);
}
#u14922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14923_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:112px;
  height:9px;
}
#u14923 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:658px;
  width:107px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(0.744059202888707deg);
  -moz-transform:rotate(0.744059202888707deg);
  -ms-transform:rotate(0.744059202888707deg);
  transform:rotate(0.744059202888707deg);
}
#u14923 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14924_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:112px;
  height:9px;
}
#u14924 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:492px;
  width:107px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(0.744059202888707deg);
  -moz-transform:rotate(0.744059202888707deg);
  -ms-transform:rotate(0.744059202888707deg);
  transform:rotate(0.744059202888707deg);
}
#u14924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14925_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:112px;
  height:9px;
}
#u14925 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:719px;
  width:107px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(0.744059202888707deg);
  -moz-transform:rotate(0.744059202888707deg);
  -ms-transform:rotate(0.744059202888707deg);
  transform:rotate(0.744059202888707deg);
}
#u14925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
