body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-93px;
  width:1894px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1894px;
  height:811px;
}
#u14930 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:70px;
  width:1894px;
  height:811px;
  display:flex;
}
#u14930 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14931_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:112px;
  height:9px;
}
#u14931 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:96px;
  width:107px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(0.744059202888707deg);
  -moz-transform:rotate(0.744059202888707deg);
  -ms-transform:rotate(0.744059202888707deg);
  transform:rotate(0.744059202888707deg);
}
#u14931 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14932_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:112px;
  height:9px;
}
#u14932 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:381px;
  width:107px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(0.744059202888707deg);
  -moz-transform:rotate(0.744059202888707deg);
  -ms-transform:rotate(0.744059202888707deg);
  transform:rotate(0.744059202888707deg);
}
#u14932 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14933_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:112px;
  height:9px;
}
#u14933 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:658px;
  width:107px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(0.744059202888707deg);
  -moz-transform:rotate(0.744059202888707deg);
  -ms-transform:rotate(0.744059202888707deg);
  transform:rotate(0.744059202888707deg);
}
#u14933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14934_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:112px;
  height:9px;
}
#u14934 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:492px;
  width:107px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(0.744059202888707deg);
  -moz-transform:rotate(0.744059202888707deg);
  -ms-transform:rotate(0.744059202888707deg);
  transform:rotate(0.744059202888707deg);
}
#u14934 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14935_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:112px;
  height:9px;
}
#u14935 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:719px;
  width:107px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(0.744059202888707deg);
  -moz-transform:rotate(0.744059202888707deg);
  -ms-transform:rotate(0.744059202888707deg);
  transform:rotate(0.744059202888707deg);
}
#u14935 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
