body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-93px;
  width:1894px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1894px;
  height:811px;
}
#u13543 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:70px;
  width:1894px;
  height:811px;
  display:flex;
}
#u13543 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13544_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:112px;
  height:9px;
}
#u13544 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:96px;
  width:107px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(0.744059202888707deg);
  -moz-transform:rotate(0.744059202888707deg);
  -ms-transform:rotate(0.744059202888707deg);
  transform:rotate(0.744059202888707deg);
}
#u13544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13545_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:112px;
  height:9px;
}
#u13545 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:381px;
  width:107px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(0.744059202888707deg);
  -moz-transform:rotate(0.744059202888707deg);
  -ms-transform:rotate(0.744059202888707deg);
  transform:rotate(0.744059202888707deg);
}
#u13545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13546_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:112px;
  height:9px;
}
#u13546 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:658px;
  width:107px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(0.744059202888707deg);
  -moz-transform:rotate(0.744059202888707deg);
  -ms-transform:rotate(0.744059202888707deg);
  transform:rotate(0.744059202888707deg);
}
#u13546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13547_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:112px;
  height:9px;
}
#u13547 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:492px;
  width:107px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(0.744059202888707deg);
  -moz-transform:rotate(0.744059202888707deg);
  -ms-transform:rotate(0.744059202888707deg);
  transform:rotate(0.744059202888707deg);
}
#u13547 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13548_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:112px;
  height:9px;
}
#u13548 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:719px;
  width:107px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(0.744059202888707deg);
  -moz-transform:rotate(0.744059202888707deg);
  -ms-transform:rotate(0.744059202888707deg);
  transform:rotate(0.744059202888707deg);
}
#u13548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
