body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-37px;
  width:1395px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6904 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:-475px;
  width:749px;
  height:300px;
  display:flex;
  font-size:20px;
}
#u6904 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:819px;
}
#u6905 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:149px;
  width:669px;
  height:819px;
  display:flex;
}
#u6905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:822px;
}
#u6906 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:132px;
  width:661px;
  height:822px;
  display:flex;
}
#u6906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6907 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:671px;
  width:150px;
  height:46px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6907 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6908 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:658px;
  width:150px;
  height:46px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6908 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6909 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:750px;
  width:150px;
  height:46px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6909 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:752px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6910 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:55px;
  width:752px;
  height:77px;
  display:flex;
  font-size:20px;
}
#u6910 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
