body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-37px;
  width:1395px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7005 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:-475px;
  width:749px;
  height:300px;
  display:flex;
  font-size:20px;
}
#u7005 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:819px;
}
#u7006 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:149px;
  width:669px;
  height:819px;
  display:flex;
}
#u7006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:822px;
}
#u7007 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:132px;
  width:661px;
  height:822px;
  display:flex;
}
#u7007 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7008 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:671px;
  width:150px;
  height:46px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7008 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7009 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:658px;
  width:150px;
  height:46px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7009 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7010 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:750px;
  width:150px;
  height:46px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7010 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:752px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7011 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:55px;
  width:752px;
  height:77px;
  display:flex;
  font-size:20px;
}
#u7011 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
