body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-189px;
  width:1428px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1428px;
  height:708px;
}
#u2857 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:52px;
  width:1428px;
  height:708px;
  display:flex;
}
#u2857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2858 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:431px;
  width:230px;
  height:150px;
  display:flex;
}
#u2858 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
