body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-84px;
  width:479px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:699px;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:58px;
  width:479px;
  height:689px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-style:normal;
}
#u1402 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
