body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-69px;
  width:2067px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:753px;
}
#u3057 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:21px;
  width:451px;
  height:753px;
  display:flex;
}
#u3057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3058 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:755px;
  width:31px;
  height:15px;
  display:flex;
}
#u3058 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3059 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:722px;
  width:25px;
  height:24px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3059_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3059.mouseDown {
}
#u3059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:753px;
}
#u3060 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:21px;
  width:451px;
  height:753px;
  display:flex;
}
#u3060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3061 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:666px;
  width:371px;
  height:36px;
  display:flex;
}
#u3061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3062 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:677px;
  width:87px;
  height:15px;
  display:flex;
}
#u3062 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3063 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:677px;
  width:87px;
  height:15px;
  display:flex;
}
#u3063 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3064 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:677px;
  width:87px;
  height:15px;
  display:flex;
}
#u3064 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3065 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:677px;
  width:87px;
  height:15px;
  display:flex;
}
#u3065 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3066 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:791px;
  width:150px;
  height:150px;
  display:flex;
}
#u3066 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3067 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:620px;
  width:150px;
  height:150px;
  display:flex;
}
#u3067 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:640px;
}
#u3068 {
  border-width:0px;
  position:absolute;
  left:1846px;
  top:52px;
  width:288px;
  height:640px;
  display:flex;
}
#u3068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3069_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:312px;
  height:583px;
}
#u3069 {
  border-width:0px;
  position:absolute;
  left:1844px;
  top:120px;
  width:292px;
  height:563px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u3069 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u3069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:307px;
  background:-webkit-linear-gradient(270deg, rgba(232, 240, 254, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(232, 240, 254, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(232, 240, 254, 1) 0%, rgba(255, 255, 255, 1) 100%);
  border:none;
  border-radius:30px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.149019607843137);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u3070 {
  border-width:0px;
  position:absolute;
  left:1865px;
  top:210px;
  width:250px;
  height:307px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u3070 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u3070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  background:linear-gradient(180deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3071 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:296px;
  width:174px;
  height:37px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3071 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3071_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3071.mouseDown {
}
#u3071_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3071.selected {
}
#u3071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  background:linear-gradient(180deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3072 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:349px;
  width:174px;
  height:37px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3072_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3072.mouseDown {
}
#u3072_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3072.selected {
}
#u3072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  background:linear-gradient(180deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3073 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:402px;
  width:174px;
  height:37px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3073 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3073_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3073.mouseDown {
}
#u3073_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3073.selected {
}
#u3073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3074 {
  border-width:0px;
  position:absolute;
  left:1592px;
  top:349px;
  width:150px;
  height:150px;
  display:flex;
}
#u3074 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3075 {
  border-width:0px;
  position:absolute;
  left:1592px;
  top:154px;
  width:150px;
  height:150px;
  display:flex;
}
#u3075 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:829px;
}
#u3076 {
  border-width:0px;
  position:absolute;
  left:1227px;
  top:52px;
  width:357px;
  height:829px;
  display:flex;
}
#u3076 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3076_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
