body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-69px;
  width:2067px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:753px;
}
#u2956 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:21px;
  width:451px;
  height:753px;
  display:flex;
}
#u2956 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2956_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2957 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:755px;
  width:31px;
  height:15px;
  display:flex;
}
#u2957 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2958 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:722px;
  width:25px;
  height:24px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2958 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2958_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2958.mouseDown {
}
#u2958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:753px;
}
#u2959 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:21px;
  width:451px;
  height:753px;
  display:flex;
}
#u2959 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2960 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:666px;
  width:371px;
  height:36px;
  display:flex;
}
#u2960 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2961 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:677px;
  width:87px;
  height:15px;
  display:flex;
}
#u2961 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2962 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:677px;
  width:87px;
  height:15px;
  display:flex;
}
#u2962 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2963 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:677px;
  width:87px;
  height:15px;
  display:flex;
}
#u2963 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2964 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:677px;
  width:87px;
  height:15px;
  display:flex;
}
#u2964 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2965 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:791px;
  width:150px;
  height:150px;
  display:flex;
}
#u2965 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2966 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:620px;
  width:150px;
  height:150px;
  display:flex;
}
#u2966 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:640px;
}
#u2967 {
  border-width:0px;
  position:absolute;
  left:1846px;
  top:52px;
  width:288px;
  height:640px;
  display:flex;
}
#u2967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2968_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:312px;
  height:583px;
}
#u2968 {
  border-width:0px;
  position:absolute;
  left:1844px;
  top:120px;
  width:292px;
  height:563px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u2968 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:307px;
  background:-webkit-linear-gradient(270deg, rgba(232, 240, 254, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(232, 240, 254, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(232, 240, 254, 1) 0%, rgba(255, 255, 255, 1) 100%);
  border:none;
  border-radius:30px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.149019607843137);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u2969 {
  border-width:0px;
  position:absolute;
  left:1865px;
  top:210px;
  width:250px;
  height:307px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u2969 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  background:linear-gradient(180deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2970 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:296px;
  width:174px;
  height:37px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2970_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2970.mouseDown {
}
#u2970_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2970.selected {
}
#u2970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  background:linear-gradient(180deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2971 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:349px;
  width:174px;
  height:37px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2971 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2971_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2971.mouseDown {
}
#u2971_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2971.selected {
}
#u2971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  background:linear-gradient(180deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2972 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:402px;
  width:174px;
  height:37px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2972 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2972_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2972.mouseDown {
}
#u2972_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2972.selected {
}
#u2972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2973 {
  border-width:0px;
  position:absolute;
  left:1592px;
  top:349px;
  width:150px;
  height:150px;
  display:flex;
}
#u2973 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2974 {
  border-width:0px;
  position:absolute;
  left:1592px;
  top:154px;
  width:150px;
  height:150px;
  display:flex;
}
#u2974 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:829px;
}
#u2975 {
  border-width:0px;
  position:absolute;
  left:1227px;
  top:52px;
  width:357px;
  height:829px;
  display:flex;
}
#u2975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
