body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-69px;
  width:2067px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:753px;
}
#u4434 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:21px;
  width:451px;
  height:753px;
  display:flex;
}
#u4434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4435 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:755px;
  width:31px;
  height:15px;
  display:flex;
}
#u4435 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4436 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:722px;
  width:25px;
  height:24px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4436_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4436.mouseDown {
}
#u4436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:753px;
}
#u4437 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:21px;
  width:451px;
  height:753px;
  display:flex;
}
#u4437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4438 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:666px;
  width:371px;
  height:36px;
  display:flex;
}
#u4438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4439 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:677px;
  width:87px;
  height:15px;
  display:flex;
}
#u4439 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4440 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:677px;
  width:87px;
  height:15px;
  display:flex;
}
#u4440 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4441 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:677px;
  width:87px;
  height:15px;
  display:flex;
}
#u4441 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4442 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:677px;
  width:87px;
  height:15px;
  display:flex;
}
#u4442 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4443 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:791px;
  width:150px;
  height:150px;
  display:flex;
}
#u4443 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4444 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:620px;
  width:150px;
  height:150px;
  display:flex;
}
#u4444 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:640px;
}
#u4445 {
  border-width:0px;
  position:absolute;
  left:1846px;
  top:52px;
  width:288px;
  height:640px;
  display:flex;
}
#u4445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4446_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:312px;
  height:583px;
}
#u4446 {
  border-width:0px;
  position:absolute;
  left:1844px;
  top:120px;
  width:292px;
  height:563px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u4446 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:307px;
  background:-webkit-linear-gradient(270deg, rgba(232, 240, 254, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(232, 240, 254, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(232, 240, 254, 1) 0%, rgba(255, 255, 255, 1) 100%);
  border:none;
  border-radius:30px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.149019607843137);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u4447 {
  border-width:0px;
  position:absolute;
  left:1865px;
  top:210px;
  width:250px;
  height:307px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u4447 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  background:linear-gradient(180deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4448 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:296px;
  width:174px;
  height:37px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4448_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4448.mouseDown {
}
#u4448_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4448.selected {
}
#u4448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  background:linear-gradient(180deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4449 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:349px;
  width:174px;
  height:37px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4449_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4449.mouseDown {
}
#u4449_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4449.selected {
}
#u4449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  background:linear-gradient(180deg, rgba(48, 108, 246, 1) 0%, rgba(2, 167, 240, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4450 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:402px;
  width:174px;
  height:37px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4450_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4450.mouseDown {
}
#u4450_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4450.selected {
}
#u4450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4451 {
  border-width:0px;
  position:absolute;
  left:1592px;
  top:349px;
  width:150px;
  height:150px;
  display:flex;
}
#u4451 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4452 {
  border-width:0px;
  position:absolute;
  left:1592px;
  top:154px;
  width:150px;
  height:150px;
  display:flex;
}
#u4452 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:829px;
}
#u4453 {
  border-width:0px;
  position:absolute;
  left:1227px;
  top:52px;
  width:357px;
  height:829px;
  display:flex;
}
#u4453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
