body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-108px;
  width:2321px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u16227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1865px;
  height:839px;
}
#u16227 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:196px;
  width:1865px;
  height:839px;
  display:flex;
}
#u16227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16228 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:326px;
  width:873px;
  height:96px;
  display:flex;
}
#u16228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:585px;
}
#u16229 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:370px;
  width:897px;
  height:585px;
  display:flex;
}
#u16229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16230 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:326px;
  width:350px;
  height:70px;
  display:flex;
}
#u16230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16230_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u16231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  line-height:18px;
}
#u16232 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:326px;
  width:225px;
  height:36px;
  display:flex;
  font-size:12px;
  color:#999999;
  line-height:18px;
}
#u16232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u16232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:36px;
}
#u16233 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:326px;
  width:236px;
  height:36px;
  display:flex;
  font-size:12px;
  color:#999999;
  line-height:18px;
}
#u16233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:36px;
}
#u16234 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:326px;
  width:236px;
  height:36px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
  line-height:18px;
}
#u16234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u16235 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:967px;
  width:95px;
  height:55px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u16235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:2px;
}
#u16236 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:994px;
  width:118px;
  height:1px;
  display:flex;
}
#u16236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:155px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#333333;
}
#u16237 {
  border-width:0px;
  position:absolute;
  left:2035px;
  top:229px;
  width:394px;
  height:155px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#333333;
}
#u16237 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u16237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
