body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1180px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:975px;
  height:494px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:84px;
  width:975px;
  height:494px;
  display:flex;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:343px;
  width:578px;
  height:213px;
  display:flex;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:381px;
  width:201px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:387px;
  width:54px;
  height:27px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u14 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:381px;
  width:201px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:387px;
  width:53px;
  height:27px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u16 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:346px;
  width:474px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:352px;
  width:54px;
  height:18px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u18 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:579px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:109px;
  width:479px;
  height:569px;
  display:flex;
}
#u19 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:178px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:443px;
  width:592px;
  height:178px;
  display:flex;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:677px;
  width:201px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u21 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:683px;
  width:54px;
  height:27px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u22 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:677px;
  width:201px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:683px;
  width:53px;
  height:27px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u24 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:642px;
  width:474px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u25 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u25_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:648px;
  width:54px;
  height:18px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u26 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:610px;
  width:474px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u27 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:616px;
  width:54px;
  height:18px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u28 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:179px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:769px;
  width:587px;
  height:179px;
  display:flex;
}
#u29 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:935px;
  width:201px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u30 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u30_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:941px;
  width:68px;
  height:9px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u31 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 245, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 235, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:419px;
  width:413px;
  height:31px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u33 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 40px;
  box-sizing:border-box;
  width:100%;
}
#u33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:31px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:419px;
  width:46px;
  height:31px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FE9400;
  text-align:left;
}
#u34 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 245, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 235, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:717px;
  width:413px;
  height:31px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 40px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:31px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:717px;
  width:46px;
  height:31px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FE9400;
  text-align:left;
}
#u37 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 245, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 235, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:971px;
  width:413px;
  height:31px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u39 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 40px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:31px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:971px;
  width:46px;
  height:31px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FE9400;
  text-align:left;
}
#u40 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
