body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1376px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:975px;
  height:494px;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:84px;
  width:975px;
  height:494px;
  display:flex;
}
#u1403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:343px;
  width:578px;
  height:213px;
  display:flex;
}
#u1404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:381px;
  width:201px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u1405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u1405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:387px;
  width:54px;
  height:27px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u1406 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:381px;
  width:201px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u1407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u1407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:387px;
  width:53px;
  height:27px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u1408 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:346px;
  width:474px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u1409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u1409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:352px;
  width:54px;
  height:18px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u1410 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:579px;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:109px;
  width:479px;
  height:569px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-style:normal;
  color:#000000;
}
#u1411 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:178px;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:443px;
  width:592px;
  height:178px;
  display:flex;
}
#u1412 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:677px;
  width:201px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u1413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u1413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:683px;
  width:54px;
  height:27px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u1414 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:677px;
  width:201px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u1415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u1415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:683px;
  width:53px;
  height:27px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u1416 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:642px;
  width:474px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u1417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u1417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:648px;
  width:54px;
  height:18px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u1418 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:610px;
  width:474px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u1419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u1419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:616px;
  width:54px;
  height:18px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u1420 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:179px;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:769px;
  width:587px;
  height:179px;
  display:flex;
}
#u1421 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:935px;
  width:201px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u1422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u1422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:941px;
  width:68px;
  height:9px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u1423 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 245, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 235, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:419px;
  width:413px;
  height:31px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u1425 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 40px;
  box-sizing:border-box;
  width:100%;
}
#u1425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:31px;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:419px;
  width:46px;
  height:31px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FE9400;
  text-align:left;
}
#u1426 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u1426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 245, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 235, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:717px;
  width:413px;
  height:31px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u1428 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 40px;
  box-sizing:border-box;
  width:100%;
}
#u1428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:31px;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:717px;
  width:46px;
  height:31px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FE9400;
  text-align:left;
}
#u1429 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u1429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 245, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 235, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:971px;
  width:413px;
  height:31px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u1431 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 40px;
  box-sizing:border-box;
  width:100%;
}
#u1431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:31px;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:971px;
  width:46px;
  height:31px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FE9400;
  text-align:left;
}
#u1432 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u1432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
