body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-62px;
  width:567px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:754px;
}
#u4609 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:38px;
  width:403px;
  height:754px;
  display:flex;
}
#u4609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4610 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:286px;
  width:150px;
  height:150px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4610 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4611 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:720px;
  width:115px;
  height:15px;
  display:flex;
}
#u4611 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:67px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4612 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:646px;
  width:71px;
  height:67px;
  display:flex;
}
#u4612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
