body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-80px;
  width:2181px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1861px;
  height:1236px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7286 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:312px;
  width:1861px;
  height:1236px;
  display:flex;
}
#u7286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1861px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7287 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:312px;
  width:1861px;
  height:71px;
  display:flex;
}
#u7287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7289 {
  border-width:0px;
  position:absolute;
  left:1820px;
  top:324px;
  width:98px;
  height:16px;
  display:flex;
}
#u7289 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7289_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7290 {
  border-width:0px;
  position:absolute;
  left:1818px;
  top:350px;
  width:56px;
  height:16px;
  display:flex;
}
#u7290 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7290_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7291 {
  border-width:0px;
  position:absolute;
  left:1892px;
  top:350px;
  width:28px;
  height:16px;
  display:flex;
}
#u7291 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7291_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:44px;
}
#u7292 {
  border-width:0px;
  position:absolute;
  left:1802px;
  top:323px;
  width:1px;
  height:43px;
  display:flex;
}
#u7292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7293 {
  border-width:0px;
  position:absolute;
  left:1741px;
  top:350px;
  width:1px;
  height:16px;
  display:flex;
}
#u7293 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7293_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u7294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:1166px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7294 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:382px;
  width:167px;
  height:1166px;
  display:flex;
}
#u7294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:35px;
}
#u7296 {
  border-width:0px;
  position:absolute;
  left:1619px;
  top:324px;
  width:47px;
  height:35px;
  display:flex;
}
#u7296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u7297 {
  border-width:0px;
  position:absolute;
  left:1615px;
  top:364px;
  width:56px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u7297 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7297_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7298 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:337px;
  width:216px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7298 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7298_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1663px;
  height:1110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7299 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:410px;
  width:1663px;
  height:1110px;
  display:flex;
}
#u7299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:542px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.149019607843137);
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u7300 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:599px;
  width:575px;
  height:542px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u7300 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u7300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 1px 1px rgba(233, 233, 233, 1);
  -webkit-box-shadow:0px 1px 1px rgba(233, 233, 233, 1);
  box-shadow:0px 1px 1px rgba(233, 233, 233, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u7301 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:599px;
  width:575px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u7301 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u7301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:50px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u7302 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:705px;
  width:485px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u7302 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7302_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u7302.mouseDown {
}
#u7302_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u7302.selected {
}
#u7302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7303 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:775px;
  width:485px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7303_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7303.mouseDown {
}
#u7303_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7303.selected {
}
#u7303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7304 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:845px;
  width:485px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7304_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7304.mouseDown {
}
#u7304_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7304.selected {
}
#u7304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:348px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u7305 {
  border-width:0px;
  position:absolute;
  left:1961px;
  top:364px;
  width:300px;
  height:348px;
  display:flex;
}
#u7305 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(0, 121, 254, 1) 0%, rgba(2, 167, 240, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 121, 254, 1) 0%, rgba(2, 167, 240, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 121, 254, 1) 0%, rgba(2, 167, 240, 1) 100%);
  border:none;
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7306 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:423px;
  width:134px;
  height:45px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7306 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
  line-height:28px;
}
#u7307 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:881px;
  width:260px;
  height:56px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
  line-height:28px;
}
#u7307 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7307_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u7308 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:438px;
  width:15px;
  height:15px;
  display:flex;
}
#u7308 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
