body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-36px;
  width:2063px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:825px;
}
#u8839 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:47px;
  width:660px;
  height:825px;
  display:flex;
}
#u8839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:830px;
}
#u8840 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:58px;
  width:663px;
  height:830px;
  display:flex;
}
#u8840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:674px;
  height:844px;
}
#u8841 {
  border-width:0px;
  position:absolute;
  left:1425px;
  top:70px;
  width:674px;
  height:844px;
  display:flex;
}
#u8841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8842_input {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:29px;
  padding:2px 2px 2px 20px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8842_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:29px;
  padding:2px 2px 2px 20px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8842 {
  border-width:0px;
  position:absolute;
  left:1452px;
  top:650px;
  width:607px;
  height:29px;
  display:flex;
}
#u8842 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u8842_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:29px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8842.disabled {
}
.u8842_input_option {
}
