body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:986px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:979px;
  height:497px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:54px;
  width:979px;
  height:497px;
  display:flex;
}
#u387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:167px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:417px;
  width:757px;
  height:167px;
  display:flex;
}
#u388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:417px;
  width:93px;
  height:15px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u389 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:445px;
  width:106px;
  height:9px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u390 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:442px;
  width:50px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:442px;
  width:50px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:442px;
  width:50px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:442px;
  width:50px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:472px;
  width:119px;
  height:18px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u395 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:469px;
  width:50px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:469px;
  width:50px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:469px;
  width:50px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:469px;
  width:50px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:501px;
  width:119px;
  height:9px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u400 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AAAAAA;
  text-align:left;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:494px;
  width:152px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#AAAAAA;
  text-align:left;
}
#u402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u402_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(192, 196, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AAAAAA;
  text-align:left;
}
#u402.mouseOver {
}
#u402_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AAAAAA;
  text-align:left;
}
#u402.selected {
}
#u402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:502px;
  width:11px;
  height:9px;
  display:flex;
  font-family:'Microsoft New Tai Lue Bold', 'Microsoft New Tai Lue', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:3px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:506px;
  width:6px;
  height:3px;
  display:flex;
  font-family:'Microsoft New Tai Lue Bold', 'Microsoft New Tai Lue', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:536px;
  width:119px;
  height:18px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u406 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:527px;
  width:445px;
  height:145px;
  display:flex;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u407 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:699px;
  width:119px;
  height:18px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u408 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
  line-height:20px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:688px;
  width:79px;
  height:29px;
  display:flex;
  font-size:8px;
  color:#FFFFFF;
  line-height:20px;
}
#u409 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u409_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
  line-height:20px;
}
#u409.mouseDown {
  opacity:0.8;
}
#u409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:699px;
  width:300px;
  height:9px;
  display:flex;
  font-size:8px;
}
#u410 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:49px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:729px;
  width:700px;
  height:49px;
  display:flex;
}
#u411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:731px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u412 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:52px;
  width:336px;
  height:731px;
  display:flex;
}
#u412 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
