body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-54px;
  width:1510px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:977px;
  height:500px;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:0px;
  width:977px;
  height:500px;
  display:flex;
}
#u1433 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:345px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:99px;
  width:542px;
  height:345px;
  display:flex;
}
#u1434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:140px;
  width:106px;
  height:18px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u1435 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:134px;
  width:50px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u1436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:134px;
  width:50px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u1437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u1438 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:134px;
  width:50px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u1438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:134px;
  width:50px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u1439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:134px;
  width:50px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u1440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u1441 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:134px;
  width:50px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u1441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u1442 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:168px;
  width:106px;
  height:18px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u1442 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u1443 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:164px;
  width:50px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u1443 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u1444 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:164px;
  width:50px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u1444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u1445 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:164px;
  width:50px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u1445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u1446 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:164px;
  width:50px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u1446 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u1447 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:164px;
  width:50px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u1447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u1448 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:164px;
  width:50px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u1448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:552px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1449 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:0px;
  width:336px;
  height:552px;
  display:flex;
}
#u1449 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:8px;
}
#u1450 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:111px;
  width:112px;
  height:9px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:8px;
}
#u1450 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:2px;
}
#u1451 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:125px;
  width:518px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.000969315011242203deg);
  -moz-transform:rotate(-0.000969315011242203deg);
  -ms-transform:rotate(-0.000969315011242203deg);
  transform:rotate(-0.000969315011242203deg);
  color:#AAAAAA;
}
#u1451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:116px;
}
#u1452 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:182px;
  width:541px;
  height:116px;
  display:flex;
}
#u1452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:579px;
}
#u1453 {
  border-width:0px;
  position:absolute;
  left:1193px;
  top:0px;
  width:371px;
  height:569px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-style:normal;
  color:#000000;
}
#u1453 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
