body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-93px;
  width:592px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:1279px;
}
#u13448 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:55px;
  width:575px;
  height:1279px;
  display:flex;
}
#u13448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u13449 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:297px;
  width:175px;
  height:15px;
  display:flex;
  color:#D9001B;
}
#u13449 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u13450 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:433px;
  width:175px;
  height:15px;
  display:flex;
  color:#D9001B;
}
#u13450 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:2px;
}
#u13451 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:1019px;
  width:124px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(32.1786562066011deg);
  -moz-transform:rotate(32.1786562066011deg);
  -ms-transform:rotate(32.1786562066011deg);
  transform:rotate(32.1786562066011deg);
}
#u13451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u13452 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:1015px;
  width:117px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(140.812605820302deg);
  -moz-transform:rotate(140.812605820302deg);
  -ms-transform:rotate(140.812605820302deg);
  transform:rotate(140.812605820302deg);
}
#u13452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u13453 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:891px;
  width:175px;
  height:15px;
  display:flex;
  color:#D9001B;
}
#u13453 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u13454 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:1062px;
  width:175px;
  height:15px;
  display:flex;
  color:#D9001B;
}
#u13454 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
