body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-93px;
  width:592px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:1279px;
}
#u14936 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:55px;
  width:575px;
  height:1279px;
  display:flex;
}
#u14936 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u14937 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:297px;
  width:175px;
  height:15px;
  display:flex;
  color:#D9001B;
}
#u14937 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u14938 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:433px;
  width:175px;
  height:15px;
  display:flex;
  color:#D9001B;
}
#u14938 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14938_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:2px;
}
#u14939 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:1019px;
  width:124px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(32.1786562066011deg);
  -moz-transform:rotate(32.1786562066011deg);
  -ms-transform:rotate(32.1786562066011deg);
  transform:rotate(32.1786562066011deg);
}
#u14939 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14939_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u14940 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:1015px;
  width:117px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(140.812605820302deg);
  -moz-transform:rotate(140.812605820302deg);
  -ms-transform:rotate(140.812605820302deg);
  transform:rotate(140.812605820302deg);
}
#u14940 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u14941 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:891px;
  width:175px;
  height:15px;
  display:flex;
  color:#D9001B;
}
#u14941 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u14942 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:1062px;
  width:175px;
  height:15px;
  display:flex;
  color:#D9001B;
}
#u14942 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
