body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-123px;
  width:575px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:1279px;
}
#u14933 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:31px;
  width:575px;
  height:1279px;
  display:flex;
}
#u14933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14934 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:227px;
  width:143px;
  height:19px;
  display:flex;
}
#u14934 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
