body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-21px;
  width:1102px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:985px;
  height:504px;
}
#u2744 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:21px;
  width:985px;
  height:504px;
  display:flex;
}
#u2744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2745 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:120px;
  width:65px;
  height:11px;
  display:flex;
  font-size:10px;
}
#u2745 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2746 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:143px;
  width:165px;
  height:11px;
  display:flex;
  font-size:10px;
}
#u2746 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2747 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:160px;
  width:165px;
  height:11px;
  display:flex;
  font-size:10px;
}
#u2747 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:974px;
  height:499px;
}
#u2748 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:239px;
  width:974px;
  height:499px;
  display:flex;
}
#u2748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2749 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:258px;
  width:283px;
  height:15px;
  display:flex;
  color:#FFFFFF;
}
#u2749 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2750 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:292px;
  width:1px;
  height:16px;
  display:flex;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2750 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2750_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u2751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2751 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:91px;
  width:355px;
  height:150px;
  display:flex;
}
#u2751 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
