body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-21px;
  width:1102px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:985px;
  height:504px;
}
#u2734 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:21px;
  width:985px;
  height:504px;
  display:flex;
}
#u2734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2735 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:120px;
  width:65px;
  height:11px;
  display:flex;
  font-size:10px;
}
#u2735 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2736 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:143px;
  width:165px;
  height:11px;
  display:flex;
  font-size:10px;
}
#u2736 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2737 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:160px;
  width:165px;
  height:11px;
  display:flex;
  font-size:10px;
}
#u2737 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:974px;
  height:499px;
}
#u2738 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:239px;
  width:974px;
  height:499px;
  display:flex;
}
#u2738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2739 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:258px;
  width:283px;
  height:15px;
  display:flex;
  color:#FFFFFF;
}
#u2739 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2740 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:292px;
  width:1px;
  height:16px;
  display:flex;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2740 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2740_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u2741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2741 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:91px;
  width:355px;
  height:150px;
  display:flex;
}
#u2741 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
