body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-11px;
  width:781px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:605px;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:17px;
  width:700px;
  height:605px;
  display:flex;
}
#u324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:285px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:344px;
  width:685px;
  height:285px;
  display:flex;
}
#u325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:right;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:430px;
  width:106px;
  height:24px;
  display:flex;
  font-size:11px;
  text-align:right;
}
#u326 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AAAAAA;
  text-align:left;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:428px;
  width:152px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#AAAAAA;
  text-align:left;
}
#u328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u328_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(192, 196, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AAAAAA;
  text-align:left;
}
#u328.mouseOver {
}
#u328_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AAAAAA;
  text-align:left;
}
#u328.selected {
}
#u328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:436px;
  width:11px;
  height:9px;
  display:flex;
  font-family:'Microsoft New Tai Lue Bold', 'Microsoft New Tai Lue Regular', 'Microsoft New Tai Lue', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:3px;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:440px;
  width:6px;
  height:3px;
  display:flex;
  font-family:'Microsoft New Tai Lue Bold', 'Microsoft New Tai Lue Regular', 'Microsoft New Tai Lue', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:275px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u332 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:245px;
  width:347px;
  height:275px;
  display:flex;
}
#u332 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:right;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:338px;
  width:106px;
  height:24px;
  display:flex;
  font-size:11px;
  text-align:right;
}
#u333 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:337px;
  width:152px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u334 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:right;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:378px;
  width:106px;
  height:24px;
  display:flex;
  font-size:11px;
  text-align:right;
}
#u335 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:379px;
  width:152px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u336 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
