body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-98px;
  width:2888px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:820px;
}
#u8484 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:108px;
  width:676px;
  height:820px;
  display:flex;
}
#u8484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:815px;
}
#u8485 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:143px;
  width:668px;
  height:815px;
  display:flex;
}
#u8485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:823px;
}
#u8486 {
  border-width:0px;
  position:absolute;
  left:1563px;
  top:108px;
  width:671px;
  height:823px;
  display:flex;
}
#u8486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:849px;
}
#u8487 {
  border-width:0px;
  position:absolute;
  left:2308px;
  top:79px;
  width:678px;
  height:849px;
  display:flex;
}
#u8487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8488_input {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:29px;
  padding:2px 2px 2px 20px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8488_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:29px;
  padding:2px 2px 2px 20px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8488 {
  border-width:0px;
  position:absolute;
  left:2329px;
  top:648px;
  width:607px;
  height:29px;
  display:flex;
}
#u8488 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u8488_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:29px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8488.disabled {
}
.u8488_input_option {
}
