body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-103px;
  width:1457px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:493px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:23px;
  width:978px;
  height:493px;
  display:flex;
}
#u101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:339px;
  width:542px;
  height:121px;
  display:flex;
}
#u102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:194px;
  width:67px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:345px;
  width:106px;
  height:18px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u104 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:339px;
  width:50px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:339px;
  width:50px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
}
#u106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u107 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:250px;
  width:280px;
  height:150px;
  display:flex;
}
#u107 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:right;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:376px;
  width:106px;
  height:18px;
  display:flex;
  font-size:8px;
  text-align:right;
}
#u108 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#606266;
  text-align:left;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:370px;
  width:240px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#606266;
  text-align:left;
}
#u110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u110_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(192, 196, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#606266;
  text-align:left;
}
#u110.mouseOver {
}
#u110_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#606266;
  text-align:left;
}
#u110.selected {
}
#u110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:9px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:376px;
  width:16px;
  height:9px;
  display:flex;
  font-family:'Microsoft New Tai Lue Bold', 'Microsoft New Tai Lue', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:3px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:380px;
  width:10px;
  height:3px;
  display:flex;
  font-family:'Microsoft New Tai Lue Bold', 'Microsoft New Tai Lue', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:435px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:67px;
  width:479px;
  height:425px;
  display:flex;
}
#u114 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
