body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-126px;
  width:1129px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:1462px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:14px;
}
#u4279 {
  border-width:0px;
  position:absolute;
  left:1384px;
  top:64px;
  width:338px;
  height:1462px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:14px;
}
#u4279 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:1452px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:10px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.0470588235294118);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.0470588235294118);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.0470588235294118);
  text-align:left;
  line-height:20px;
}
#u4280 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:146px;
  width:1129px;
  height:1452px;
  display:flex;
  text-align:left;
  line-height:20px;
}
#u4280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:50px;
  background:inherit;
  background-color:rgba(232, 236, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4281 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:96px;
  width:1129px;
  height:50px;
  display:flex;
}
#u4281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u4282 {
  border-width:0px;
  position:absolute;
  left:1184px;
  top:112px;
  width:48px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#666666;
}
#u4282 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u4283 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:112px;
  width:247px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u4283 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:2px;
}
#u4284 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:848px;
  width:1053px;
  height:1px;
  display:flex;
}
#u4284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u4285 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:817px;
  width:217px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u4285 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u4287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.333333333333333);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u4287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:30px;
  display:flex;
  text-align:left;
}
.u4287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
.u4287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4286-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:30px;
}
#u4286-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1074px;
  height:30px;
}
#u4286-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:1074px;
  height:30px;
}
#u4286-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:1074px;
  height:30px;
}
#u4286-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:1074px;
  height:30px;
}
#u4286-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:1074px;
  height:30px;
}
#u4286 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:864px;
  width:1074px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u4288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:648px;
}
#u4288 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:163px;
  width:500px;
  height:648px;
  display:flex;
}
#u4288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:2px;
}
#u4289 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:1117px;
  width:1053px;
  height:1px;
  display:flex;
}
#u4289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u4290 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:1086px;
  width:197px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u4290 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4291 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:1133px;
  width:1019px;
  height:84px;
}
#u4292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:42px;
}
#u4292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#999999;
}
#u4292 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:42px;
}
#u4293 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:0px;
  width:415px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u4293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:42px;
}
#u4294 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:0px;
  width:141px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u4294 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:42px;
}
#u4295 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:0px;
  width:322px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u4295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:42px;
}
#u4296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:141px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#999999;
}
#u4296 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:42px;
}
#u4297 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:42px;
  width:415px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u4297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:42px;
}
#u4298 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:42px;
  width:141px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u4298 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:42px;
}
#u4299 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:42px;
  width:322px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u4299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:2px;
}
#u4300 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:1273px;
  width:1053px;
  height:1px;
  display:flex;
}
#u4300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u4301 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:1242px;
  width:197px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u4301 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4302 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:1289px;
  width:556px;
  height:84px;
}
#u4303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:42px;
}
#u4303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#999999;
}
#u4303 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:42px;
}
#u4304 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:0px;
  width:415px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u4304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:42px;
}
#u4305 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:141px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#999999;
}
#u4305 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:42px;
}
#u4306 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:42px;
  width:415px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u4306 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u4308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.333333333333333);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u4308 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  height:30px;
  display:flex;
  text-align:left;
}
.u4308 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
.u4308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4307-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  height:30px;
}
#u4307-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:965px;
  height:30px;
}
#u4307-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:965px;
  height:30px;
}
#u4307-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:965px;
  height:30px;
}
#u4307-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:965px;
  height:30px;
}
#u4307-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:965px;
  height:30px;
}
#u4307 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:1346px;
  width:965px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u4309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4309 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:1242px;
  width:502px;
  height:15px;
  display:flex;
}
#u4309 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4310 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:1242px;
  width:150px;
  height:53px;
  display:flex;
}
#u4310 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
