body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-162px;
  width:859px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u3110 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:96px;
  width:335px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u3110 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:24px;
}
#u3111 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:133px;
  width:335px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:24px;
}
#u3111 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:24px;
}
#u3112 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:194px;
  width:335px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:24px;
}
#u3112 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:2px;
}
#u3113 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:178px;
  width:313px;
  height:1px;
  display:flex;
}
#u3113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3114 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:140px;
  width:18px;
  height:18px;
  display:flex;
  font-size:13px;
}
#u3114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3115 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:201px;
  width:18px;
  height:18px;
  display:flex;
  font-size:13px;
}
#u3115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
#u3116 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:250px;
  width:112px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
#u3116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3116_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
#u3116.mouseDown {
}
#u3116_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
#u3116.selected {
}
#u3116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
#u3117 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:250px;
  width:112px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
#u3117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3117_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
#u3117.mouseDown {
}
#u3117_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
#u3117.selected {
}
#u3117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
#u3118 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:250px;
  width:112px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
#u3118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3118_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
#u3118.mouseDown {
}
#u3118_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
#u3118.selected {
}
#u3118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3119 {
  position:absolute;
  left:162px;
  top:288px;
}
#u3119_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:160px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3119_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u3121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:160px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u3121 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0079FE;
}
#u3122 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:131px;
  width:62px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#0079FE;
}
#u3122 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u3123 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:124px;
  width:80px;
  height:28px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u3123 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3123_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u3123.mouseDown {
  opacity:0.8;
}
#u3123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3119_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:160px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u3119_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3124 {
  position:absolute;
  left:0px;
  top:0px;
}
#u3124_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:160px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3124_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u3126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:160px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u3126 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u3127 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:124px;
  width:80px;
  height:28px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u3127 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3127_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u3127.mouseDown {
  opacity:0.8;
}
#u3127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3124_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u3124_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u3128 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:141px;
  width:20px;
  height:16px;
  display:flex;
  text-align:left;
}
#u3128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u3129 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:201px;
  width:20px;
  height:16px;
  display:flex;
  text-align:left;
}
#u3129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:792px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3130 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:25px;
  width:483px;
  height:792px;
  display:flex;
}
#u3130 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
